$color: #fff;

* {
    box-sizing: border-box;
}
body {
    color: #333333;
    font-size:14px;
    line-height: 1.6;
    background-color: $color;
    height: 10000px;
    overflow: auto;
    margin: 0;
    letter-spacing: 1.5px;
    font-family: 
    "�q���M�m�p�S Pro W3", "Hiragino Kaku Gothic Pro", "���C���I", Meiryo, Osaka, "�l�r �o�S�V�b�N", "MS PGothic", sans-serif;
}

header {
    position: fixed;
    z-index: 10;
    background-color: #fff;
    width: 100%;
  .title {
    width: 100%;
    
    position: relative;
     }
  .logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
   }
   .logo img {
       width: 128px;
       
   }
   .title-logo {
       font-weight: bold;
       padding-top: 20px;
       display: inline-block;
       margin-top: 5px;
       margin-left: 5px;
   }
  .contactpc {
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    background-color: #da6b64;
    color: #fff;
    border-radius: 25px;
    padding: 11px 40px;
    margin-bottom: 10px;
  }
}
.header-separated {
  height: 102px;
}
.cover {
      background-image: url("../images/main.jpg");
      height: 500px;
      background-size: cover;
      background-position: center;
      position: relative;
      text-align: center;
  }
  .txt1 {
        font-size: 24px;
        font-weight: 600;
      }
  
  .txtm{
        font-size: 16px;
        font-weight: 600;
      }
  .txts {
      font-size: 14px;
      font-weight: 600;
  }
  
  .txtxs {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
}
  
  .cover-text {
      position: absolute;
      top: 50px;
      left: 250px;
      
  }
   .mainlogo {
      width: 317px;
      margin-bottom: 20px;
      
  }
  .conversion {
    background-color: #ebb94d;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    height: 461px;
    color: #fff;
    .conversionbtn {
      display: inline-block;
      background-color:#da6b64;
      border-radius: 50px;
      text-decoration: none;
      color: #fff;
      padding: 25px 50px;
      margin:  10px 80px;
    }
     .txtxs {
    font-weight: 600;
  }
    
    
  }
  
  .sns-list {
      display: inline-block;
      list-style: none;
      justify-content: center;
       .twitter {
     background-color:#00aced ;
     padding-right: 5px;
     padding-left: 5px;
   }
   .facebook {
     background-color: #3B5998 ;
     padding-right: 5px;
     padding-left: 5px;
   }
   
  }
  code {
    background-color:#f9f2f4;
    color:#c7254e;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
  }
 .introduction {
   background-image: url("../images/introbottom.jpg");
   
   height: 587px;
 } 
 
 .yellow  {
   text-align: center;
   position: relative;
   height: 100px;
   margin: 0 auto;
   max-width: calc(100% - 40px);
   h2 {
     padding: 20px 0;
     font-size: 24px;
   }
 }
 
 .yellow::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
  width: 50px;
  height: 50px;
 }
 .yellow::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
  width: 50px;
  height: 50px;
 }
 .content {
   text-align: center;
   padding: 40px 0;
   font-size: 16px;
 }
 .underline {
   border-bottom: 4px solid #ebb94d;
 }
 
.about {
 
  background-color: #fef5e0;
  text-align: center;
  padding: 0 0 40px 0;
}

.circle {
  color:: #fff;
  background-color: #ebb94d;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.abouticon {
  position: relative;
  top: -40px;
}

.abouttitle p {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
}

.aboutbox {
  display: inline-block;
  background-color: #fff;
  margin: 30px auto;
  padding: 30px;
  border: 2px solid #ebb94d;
  
}
.boxall {
 display: flex;
}
.box {
  padding: 10px;
}
.abouttext {
  font-size: 16px;
  font-weight: bold;
}

.aboutsecond {
  background-image: url("../images/aboutsecondbg.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
  p,h2 {
      color: #fff;
  }
}

.yellowtext {
    color: #ebb94d;
}

.slidebox  {
    background-color: #fff;
    width: 40%;
    margin: 0 30% 20px ;
    flex-direction: column;
    padding: 30px 30px 20px;
    border-radius: 5px;
    p {
    background-color: #ebb94d;
    border-radius: 5px;
}
}
.sidecontents p {
    background-color: #fff;
    color: #000000;
  }

.aboutthird {
    padding: 40px 0;
    text-align: center;
    background-color: #016ea9;
    color: #fff;
}
.learning {
    text-align: center;
    padding: 40px 0;
    .container{
      display: flex;
       padding: 40px 0;
    }
    .learningbox{
        margin-right: 15px;
        margin-left: 15px;
    }
    .learningbox img {
        width: 180px;
    }
}

.merit {
    text-align: center;
    background-color: #fef5e0;
    padding: 30px 50px ;
}

.container {
    margin-top: 40px;
}
.learnbox {
    margin-bottom: 20px;
    p {
        margin: 8px 0;
    }
    .txts {
    text-align: left;
    font-weight: 300;
    }
}
.learnfromfreelancer {
    height: 180px;
    background-image: url("../images/learnfromfreelancer.jpg");
    background-position: center;
    background-size: cover;
    width: 300px;
    margin: 0 auto;
    
}
.learnfromprojects {
    height: 180px;
    background-image: url("../images/learnfromprojects.jpg");
    background-position: center;
    background-size: cover;
    width: 300px;
    margin: 0 auto;
    
}

.actuallyfree {
    height: 180px;
    background-image: url("../images/actuallyfree.jpg");
    background-position: center;
    background-size: cover;
    width: 300px;
    margin: 0 auto;
}

.support {
    background-color: #fff;
    padding: 40px 20px;
    margin: 40px auto;
    border: 2px solid #ebb94d;
    border-radius: 5px;
}

.meritbottomtxts {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
}
.teacher {
    text-align: center;
    background-image: url("../images/teacherbg.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 50px;
}
.teacherbox {
    position: relative;
    img{
     position: relative; 
     bottom: -35px;
     border-radius: 50%;
    }
}
.texleft {
    text-align: left;
}
.detail {
    padding: 40px;
    border: 3px solid #fff;
}

.why {
    padding: 40px 0;
    text-align: center;
    background-color: #ebb94d;
    color: #fff;
}
.circle1 {
    font-size: 20px;
    background-color: #fff;
    color: #ebb94d;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.whitebrackets {
    position: relative;
    margin: 0 auto;
    padding: 15px 30px;
    box-sizing: border-box;
    max-width: calc(100% - 40px);
}

.whitebrackets::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
}
.whitebrackets::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
}
.why::after {
    position: relative;
    content: "";
    height: 0;
    width: 0;
    border: 25px solid transparent;
    border-top-color: #ebb94d;
    top: 85px;
}
.answer {
  padding: 40px 0;
  text-align: center;
}

.client {
 display: flex;
 max-width: calc(100% - 40px);
 margin: 0 auto;
 padding: 20px 0;
}
.clientpicure-1 {
background-image: url("../images/take.jpg");
background-position: center;
background-size: cover;
height: 257px;
width: 550px;
border: solid;
border-color: #ebb94d;
}
.clientpicure-2 {
background-image: url("../images/minami_sato.jpg");
background-position: center;
background-size: cover;
height: 257px;
width: 490px;
border: solid;
border-color: #ebb94d;
}
.clientpicure-3 {
background-image: url("../images/asada.jpg");
background-position: center;
background-size: cover;
height: 257px;
width: 545px;
border: solid;
border-color: #ebb94d;
}
.clientvoice {
  text-align:  left;
  padding-left: 15px;
  color: #777;
  margin-top: 15px;
  font-size: 18px;
   small {
     text-decoration: underline;
   }
}

.class {
  color: #fff;
  text-align: center;
  padding: 40px 0;
  background-image: url("../images/classbg.jpg");
  background-position: center;
  background-size: cover;
  .classbox{
    padding: 40px 0;
    max-width: 780px;
    margin: 0 auto;
  }
  .classlist {
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .classwrap {
    background-color: #fff;
    border: 2px solid #016ea9;
    padding: 0;
    border-radius: 5px;
    .txtm {
      background-color: #016ea9;
      padding: 15px;
    }
  }
}
.classbox ul {
  padding: 0;
  margin: 0;
}  
.classbox ul li {
    color: #000000;
    padding: 10px;
    border-bottom: 1px dotted #e5e5e5;
    list-style: none;
    }
    
.classbottom {
  background-color: #016ea9;
  padding: 40px;
  color: #fff;
  text-align: center;
  .txtm {
    margin: 0;
  }
}

.flow {
  padding: 20px 40px;
  text-align: center;
}
.flowing {
  max-width: 100%;
  margin: 40px auto;
}

.flowbox {
  max-width: calc(100% - 40px);
  border-radius: 10px;
  background-color: #fef5e0;
  margin: 0 auto;
  padding: 10px 45px;
  display: flex;
  p {
    margin: 20px 0;
  }
}
.flowleft {
  padding: 20px;
  
  .txtm {
    font-size: 18px;
    margin-bottom: 0;
  }
 
}
.flowright {
  text-align: left;
  padding: 10px ;
}
.flowline {
  width: calc(100% - 300px);
}
img {
    vertical-align: middle;
}

.bangkok {
  color: #fff;
  padding: 40px;
  background-image: url("../images/bangkokbg.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: -21px;
}

.bangkokdetail {
  margin-left: 20px;
}


.bangkoklist {
  margin: 20px 0;
}

.special {
  background-color: #f7c23c;
  text-align: center;
  padding: 40px;
  margin-bottom: -24px;
}

.whitetxt {
  color: #fff;
}
.specialpeople {
  position: relative;
  bottom: -58px;
  background-color: #f7c23c;
  width: 400px;
  margin: 0 auto;
}
.specialbox {
  margin-top: 40px;
  padding: 40px ;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
 
}
.tokuten {
  width: 250px;
  height: 250px;
  background-color: #fff;
  padding: 0 ;
  margin: 15px auto;
  display: inline-block;
  border-radius: 50%;
  
}
.tokutenbox {
  padding: 15px;
  height: 250px;
  display: table-cell;
  vertical-align: middle;
}

.specialdetail {
  padding: 40px;
  text-align: center;
  color: #fff;
  background-image: url("../images/specialdetail.jpg");
  background-position: center;
  background-size: cover;
}
.message-container {
  margin: 40px auto;
  width: calc(100% - 40px);
  .learnbox{
    padding: 20px;
  }
  p {
  text-align: left;
  margin: 0 0 10px;
}
}

.contactform {
  background-color: #ebb94d;
  text-align: center;
  padding: 40px 15%;
}

#OF_form1 {
  width: 100%;
  height: 55px;
}